<footer class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-800 border-gray border-t">
    <div class="mx-auto max-w-screen-xl text-center">
        <a href="#" class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white">
            <img src="https://cdn-icons-png.flaticon.com/512/5273/5273452.png" class="h-8 me-3" alt="Flowbite Logo" />

            AFTAS    
        </a>
        <p class="my-6 text-gray-500 dark:text-gray-400">Elevating sports passion with exhilarating experiences in Mirleft, Tiznit.</p>
        <ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white">
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Services</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 ">Members</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Competitions</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Fishes</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">FAQs</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Contact</a>
            </li>
        </ul>
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023-2024 <a href="#" class="hover:underline">AFTAS</a>. All Rights Reserved.</span>
    </div>
  </footer>